body {
    margin: 0;
    height: 100vh;
    background: url("1920.jpg")center/cover no-repeat;
}
 
 
@media (max-width: 1280px) {
    body {
        background: url("1280.jpg")center/cover no-repeat;
    }
}
 
 
@media (max-width: 640px) {
    body {
        background: url("640.webp") center/cover no-repeat;
    }
}